{% extends "base.html" %}

{% block title %}
| {{ article.title }}
{% endblock title %}

{% block extra_head %}
<meta property="og:title" content="Oscar's Journal | {{ article.title }}" />
{% endblock extra_head %}

{% block content %}
<main>
  <article style="max-width: 650px;">
    <section>
      <h1>{{ article.title }}</h1>
      <p className="sub-date">{{ article.locale_date }}</p>
    </section>
    {{ article.content }}
    <a href='/'>← Back</a>
  </article>
</main>
{% endblock content%}
