<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <title>Oscar's Journal {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/theme.css"/>
    <meta charSet="UTF-8" />
    <meta name="author" content="Oscar Cortez" />
    <meta name="keywords" content="oscar, cortez, oscar cortez, computer science, software, software engineering, web, web development, web design, developer, python, django, nicaragua, nic" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Python developer at the intersection of design and code." />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#111111" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Hey, I'm Oscar Cortez, a Python developer from Nicaragua and this is my journal." />
    <meta name="twitter:creator" content="@oscar_mcm" />
    <meta name="twitter:site" content="@oscar_mcm" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://journal.oscarmcm.com" />
    <meta property="og:description" content="Hey, I'm Oscar Cortez, a Python developer from Nicaragua and this is my journal." />
    <meta property="og:image" content="{{ SITEURL }}/theme/profile.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script type="text/javascript">
      if (localStorage.oscarmcm_theme === 'dark' || (!('oscarmcm_theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        localStorage.oscarmcm_theme = 'dark'
      } else {
        document.documentElement.classList.remove('dark')
        localStorage.oscarmcm_theme = 'light'
      };
      function toggleTheme() {
        if (document.documentElement.className === 'dark') {
          document.documentElement.classList.remove('dark')
          localStorage.oscarmcm_theme = 'light'
        } else {
          document.documentElement.classList.add('dark')
          localStorage.oscarmcm_theme = 'dark'
        };
      };
    </script>
    <style>
      *, ::before, ::after {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x:  ;
        --tw-pan-y:  ;
        --tw-pinch-zoom:  ;
        --tw-scroll-snap-strictness: proximity;
        --tw-gradient-from-position:  ;
        --tw-gradient-via-position:  ;
        --tw-gradient-to-position:  ;
        --tw-ordinal:  ;
        --tw-slashed-zero:  ;
        --tw-numeric-figure:  ;
        --tw-numeric-spacing:  ;
        --tw-numeric-fraction:  ;
        --tw-ring-inset:  ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(59 130 246 / 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur:  ;
        --tw-brightness:  ;
        --tw-contrast:  ;
        --tw-grayscale:  ;
        --tw-hue-rotate:  ;
        --tw-invert:  ;
        --tw-saturate:  ;
        --tw-sepia:  ;
        --tw-drop-shadow:  ;
        --tw-backdrop-blur:  ;
        --tw-backdrop-brightness:  ;
        --tw-backdrop-contrast:  ;
        --tw-backdrop-grayscale:  ;
        --tw-backdrop-hue-rotate:  ;
        --tw-backdrop-invert:  ;
        --tw-backdrop-opacity:  ;
        --tw-backdrop-saturate:  ;
        --tw-backdrop-sepia:  ;
      }

      ::backdrop {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x:  ;
        --tw-pan-y:  ;
        --tw-pinch-zoom:  ;
        --tw-scroll-snap-strictness: proximity;
        --tw-gradient-from-position:  ;
        --tw-gradient-via-position:  ;
        --tw-gradient-to-position:  ;
        --tw-ordinal:  ;
        --tw-slashed-zero:  ;
        --tw-numeric-figure:  ;
        --tw-numeric-spacing:  ;
        --tw-numeric-fraction:  ;
        --tw-ring-inset:  ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(59 130 246 / 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur:  ;
        --tw-brightness:  ;
        --tw-contrast:  ;
        --tw-grayscale:  ;
        --tw-hue-rotate:  ;
        --tw-invert:  ;
        --tw-saturate:  ;
        --tw-sepia:  ;
        --tw-drop-shadow:  ;
        --tw-backdrop-blur:  ;
        --tw-backdrop-brightness:  ;
        --tw-backdrop-contrast:  ;
        --tw-backdrop-grayscale:  ;
        --tw-backdrop-hue-rotate:  ;
        --tw-backdrop-invert:  ;
        --tw-backdrop-opacity:  ;
        --tw-backdrop-saturate:  ;
        --tw-backdrop-sepia:  ;
      }

      .nav button { cursor: pointer; border: 0; }
      .pointer-events-auto {
        pointer-events: auto;
      }

      .mx-auto {
        margin-left: auto;
        margin-right: auto;
      }

      .block {
        display: block;
      }

      .flex {
        display: flex;
      }

      .table {
        display: table;
      }

      .hidden {
        display: none;
      }

      .h-6 {
        height: 1.5rem;
      }

      .w-6 {
        width: 1.5rem;
      }

      .max-w-7xl {
        max-width: 80rem;
      }

      .flex-1 {
        flex: 1 1 0%;
      }

      .items-center {
        align-items: center;
      }

      .justify-end {
        justify-content: flex-end;
      }

      .justify-between {
        justify-content: space-between;
      }

      .rounded-full {
        border-radius: 9999px;
      }

      .bg-white\/90 {
        background-color: rgb(255 255 255 / 0.9);
      }

      .fill-zinc-100 {
        fill: #f4f4f5;
      }

      .fill-zinc-700 {
        fill: #3f3f46;
      }

      .stroke-zinc-500 {
        stroke: #71717a;
      }

      .p-6 {
        padding: 1.5rem;
      }

      .px-3 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }

      .py-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      .shadow-lg {
        --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }

      .shadow-zinc-800\/5 {
        --tw-shadow-color: rgb(39 39 42 / 0.05);
        --tw-shadow: var(--tw-shadow-colored);
      }

      .ring-1 {
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
      }

      .ring-zinc-900\/5 {
        --tw-ring-color: rgb(24 24 27 / 0.05);
      }

      .backdrop-blur {
        --tw-backdrop-blur: blur(8px);
        -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
                backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
      }

      .transition {
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
      }

      .group:hover .group-hover\:fill-zinc-200 {
        fill: #e4e4e7;
      }

      .group:hover .group-hover\:stroke-zinc-700 {
        stroke: #3f3f46;
      }

      :is(.dark .dark\:block) {
        display: block;
      }

      :is(.dark .dark\:hidden) {
        display: none;
      }

      :is(.dark .dark\:bg-zinc-800\/90) {
        background-color: rgb(39 39 42 / 0.9);
      }

      :is(.dark .dark\:ring-white\/10) {
        --tw-ring-color: rgb(255 255 255 / 0.1);
      }

      :is(.dark .dark\:hover\:ring-white\/20:hover) {
        --tw-ring-color: rgb(255 255 255 / 0.2);
      }

      @media (min-width: 1024px) {
        .lg\:px-8 {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }

      @media (prefers-color-scheme:dark) {
        .\[\@media\(prefers-color-scheme\:dark\)\]\:fill-teal-50 {
          fill: #f0fdfa;
        }

        .\[\@media\(prefers-color-scheme\:dark\)\]\:stroke-teal-500 {
          stroke: #14b8a6;
        }

        .group:hover .\[\@media\(prefers-color-scheme\:dark\)\]\:group-hover\:fill-teal-50 {
          fill: #f0fdfa;
        }

        .group:hover .\[\@media\(prefers-color-scheme\:dark\)\]\:group-hover\:stroke-teal-600 {
          stroke: #0d9488;
        }

        .group:hover .\[\@media\(prefers-color-scheme\:dark\)\]\:group-hover\:stroke-zinc-400 {
          stroke: #a1a1aa;
        }
      }

      @media not (prefers-color-scheme:dark) {
        .\[\@media_not_\(prefers-color-scheme\:dark\)\]\:fill-teal-400\/10 {
          fill: rgb(45 212 191 / 0.1);
        }

        .\[\@media_not_\(prefers-color-scheme\:dark\)\]\:stroke-teal-500 {
          stroke: #14b8a6;
        }
      }
    </style>
    <style>
      html.dark body,
      html.dark .nav {
        background-color: #151515;
        color: #ddd;
      }
      @media (prefers-color-scheme: dark) {
        body, .nav {
          background-color: #151515;
          color: #ddd;
        }
      }
      body, .nav {
        background-color: #FFFFF8;
        color: #111;
      }
      @media (prefers-color-scheme: light) {
        body, .nav {
          background-color: #FFFFF8;
          color: #111;
        }
      }
      /* TufTe Reset */
      body {
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
      }
      header, main {
        width: 87.5%;
        padding-left: 12.5%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
      }
      html a:link,
      html .tufte-underline,
      html .hover-tufte-underline:hover {
        text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
      }
      html.dark a:link,
      html.dark .tufte-underline,
      html.dark .hover-tufte-underline:hover {
        text-shadow: 0.03em 0 #151515, -0.03em 0 #151515, 0 0.03em #151515, 0 -0.03em #151515, 0.06em 0 #151515, -0.06em 0 #151515, 0.09em 0 #151515, -0.09em 0 #151515, 0.12em 0 #151515, -0.12em 0 #151515, 0.15em 0 #151515, -0.15em 0 #151515;
      }
    </style>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <nav class="nav">
      <div class="flex max-w-7xl items-center justify-between mx-auto p-6 lg:px-8">
        <div class="flex flex-1 justify-end">
          <div class="pointer-events-auto">
            <button onclick="toggleTheme()" type="button" aria-label="Switch to light theme" class="group rounded-full bg-white/90 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
              <svg viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-teal-50 [@media(prefers-color-scheme:dark)]:stroke-teal-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-teal-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-teal-600">
                <path d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"></path>
                <path d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061" fill="none"></path>
              </svg>
              <svg viewBox="0 0 24 24" aria-hidden="true" class="hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-zinc-400 [@media_not_(prefers-color-scheme:dark)]:fill-teal-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-teal-500">
                <path d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
  </body>
</html>
