{% extends "base.html" %}

{% block extra_head %}
<meta property="og:title" content="Oscar's Journal" />
{% endblock extra_head %}

{% block content %}
<header>
  <h1 id="tufte-css">A (Public) Journal</h1>
  <p className="subtitle">Oscar Cortez</p>
  <section>
    <p>
      Welcome to my public journal — a place for essays that don't quite belong on my blog, but deserve a home
      of some sort online. Feel free to read and enjoy these random thoughts, and take away from them what you wish!
    </p>
  </section>
</header>
<main>
  <h2 id="fundamentals">Thoughts &amp; Musings</h2>
  <h3 id="fundamentals--sections-and-headers">A collection of hand-written essays by Oscar Cortez.</h3>
  <section>
    <ul>
      {% for article in articles %}
      <li>
        <a rel="bookmark" title="{{ article.title|striptags }} «{{ SITENAME }}»" href="{{ article.url }}">{{ article.title }}</a>
        <span>· <i>{{ article.date|strftime('%d %B, %Y') }}</i></span>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock content %}
